.parent {
  width: 100px;
  height: 150px;
  margin: 2px;
  padding: 1px;
  border: 1px solid red;
}

.child {
  margin: 9%; /* margin: 9px  */
  padding: 9%; /* padding: 9px  */
  border: 1px dashed blue;
}

.parent-2 {
  width: 100px;
  height: 150px;
  padding: 2px;
  border: 1px solid red;
}

.child-2 {
  height: 10%; /* height: 12px ; */
  border: 1px dashed blue;
}
